<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_PATH__</string>
    <string>-m</string>
    <string>gtasks.local_handoff_supervisor</string>
    <string>--config</string>
    <string>__SUPERVISOR_CONFIG_PATH__</string>
    <string>--codex-path</string>
    <string>__CODEX_PATH__</string>
    <string>--openclaw-path</string>
    <string>__OPENCLAW_PATH__</string>
    <string>--working-directory</string>
    <string>__WORKING_DIRECTORY__</string>
    <string>--codex-resume-timeout</string>
    <string>__CODEX_RESUME_TIMEOUT__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__WORKING_DIRECTORY__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__RUNTIME_PATH__</string>
    <key>PYTHONPATH</key>
    <string>__MODULE_ROOT__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
